<script id="product-template" type="text/template">
    <li data-product-id="<%= productId %>">
        <span class="product-name"><%= productName %></span>

        <div class="control-container">
            <div class="product-weight-field ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset">
                <input type="text" name="<%= productId %>_weight" id="id_<%= productId %>_weight" value="<%= productWeight %>" maxlength="4" />
            </div>

            <div class="remove-product-button">
                <a href="#" class="ui-btn ui-icon-delete ui-btn-icon-notext ui-corner-all"></a>
            </div>
        </div>
    </li>
</script>