<ul id="statistics" data-role="listview" data-inset="true">
    <li class="ui-field-contain">
        <label>Общий вес: </label>
        <input type="text" class="statistics-dish-weight-input" name="weight" id="id_weight" value="{{ form.weight.value|default:0 }}" maxlength="4">
    </li>

    <li class="ui-field-contain">
        <label>Всего ХЕ: <span id="statistics-carbohydrate-units" class="statistics-value"></span></label>
    </li>

    <li class="ui-field-contain">
        <label>ХЕ в 1 порции: <span id="statistics-carbohydrate-units-per-portion" class="statistics-value"></span></label>
    </li>

    <li class="ui-field-contain">
        <label>Вес 1 порции: <span id="statistics-weight-per-portion" class="statistics-value"></span></label>
    </li>
</ul>
