{% extends 'base.html' %}
{% load staticfiles %}
{% load assets %}

{% block css %}
    <link rel="stylesheet" href="{% static 'dish/css/selectmenu.css' %}" />
    <link rel="stylesheet" href="{% static 'dish/css/dish.css' %}" />
{% endblock css %}

{% block toolbar %}
{% endblock toolbar %}

{% block base_js %}
    <script>
        window.Diabetto = window.Diabetto || {};
        window.Diabetto.allProducts = {{ json_all_products|safe }};
        window.Diabetto.dishProducts = {{ json_dish_products|safe }};
    </script>
{% endblock base_js %}

{% block js %}
    {% assets "dish_base_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock js %}

{% block content %}
{% endblock content %}

{% block hidden_content %}
    {% include 'dish/_product.html' %}
{% endblock hidden_content %}