{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'dish/css/selectmenu.css' %}" />
    <link rel="stylesheet" href="{% static 'dish/css/dish.css' %}" />
{% endblock css %}

{% block toolbar %}
{% endblock toolbar %}

{% block js %}
    <script src="{% static 'js/underscore.js' %}"></script>
    <script src="{% static 'dish/js/selectmenu.js' %}"></script>

    <script>
        window.Diabetto = window.Diabetto || {};
        window.Diabetto.allProducts = {{ json_all_products|safe }};
        window.Diabetto.dishProducts = {{ json_dish_products|safe }};
    </script>

    <script src="{% static 'dish/js/statistics.js' %}"></script>
    <script src="{% static 'dish/js/dish.js' %}"></script>
{% endblock js %}

{% block content %}
{% endblock content %}

{% block hidden_content %}
    {% include 'dish/_product.html' %}
{% endblock hidden_content %}