{% extends 'base.html' %}
{% load staticfiles %}
{% load assets %}

{% block css %}
    <link rel="stylesheet" href="{% static 'dish/css/selectmenu.css' %}" />
    <link rel="stylesheet" href="{% static 'dish/css/dish.css' %}" />
{% endblock css %}

{% block toolbar %}
{% endblock toolbar %}

{% block base_js %}
    <script>
        window.Diabetto = window.Diabetto || {};
        window.Diabetto.allProducts = {{ json_all_products|safe }};
        window.Diabetto.dishProducts = {{ json_dish_products|safe }};
    </script>
{% endblock base_js %}

{% block js %}
    {% assets "dish_base_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock js %}

{% block content %}
    <form method="POST" data-ajax="false">
        <label for="id_name">Название блюда:</label>
        <input type="text" name="name" id="id_name" value="{% if form.name.value %}{{ form.name.value }}{% endif %}" maxlength="128">
        {% if form.name.errors %}
            {{ form.name.errors }}
        {% endif %}
        <br/>

        <label for="id_portions">Количество порций:</label>
        <input type="range" name="portions" id="id_portions" value="{% if form.portions.value %}{{ form.portions.value }}{% else %}4{% endif %}" min="1" max="10">
        <br/><br/>

        <label>Продукты:</label>
        <ul id="products-list" data-role="listview" data-inset="true">
        </ul>
        <br/>

        <label>Статистика:</label>
        {% include 'dish/_statistics.html' %}
        <br/>

        {% include 'dish/_receipt.html' %}
        <br/>

        {% block submit_button %}
        {% endblock submit_button %}

        {% include 'dish/_products_menu.html' %}
    </form>
{% endblock content %}

{% block hidden_content %}
    {% include 'dish/_product.html' %}
{% endblock hidden_content %}