{% extends 'dish/base.html' %}

{% block toolbar %}
    <a data-ajax="false" href="{% url 'index_dish' %}" class="ui-btn-left ui-btn ui-btn-inline ui-corner-all ui-btn-icon-left ui-icon-back ui-btn-icon-notext" title="Вернуться к списку всех блюд"></a>
    <h6>Новое блюдо</h6>
    <a href="#" class="js-button-add-product ui-btn-right ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-left ui-icon-plus ui-btn-icon-notext" title="Добавить новый продукт к блюду"></a>
{% endblock toolbar %}

{% block submit_button %}
    <button class="ui-btn ui-corner-all green-button" type="submit">Создать</button>
{% endblock submit_button %}