{% extends 'base.html' %}

{% block toolbar %}
    <a data-ajax="false" href="/" class="ui-btn-left ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-left ui-icon-back ui-btn-icon-notext" title="Вернуться в главное меню"></a>
    <h6>Блюда</h6>
    <a href="{% url 'create_dish' %}" class="ui-btn-right ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-left ui-icon-plus ui-btn-icon-notext" title="Добавить новое блюдо в базу"></a>
{% endblock toolbar %}

{% block content %}
    <ul data-role="listview" data-filter="true" data-filter-placeholder="Искать блюдо ..." data-inset="true">
        {% for dish in dishes %}
            <li>
                <a class="js-list-item" href="{{ dish.get_absolute_url }}" data-ajax="false">
                    <h3 class="js-list-item-title">{{ dish.name }}</h3>
                    <p class="js-list-item-comment">Порций: {{ dish.portions }}</p>
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock content %}