{% extends 'base.html' %}

{% block toolbar %}
    <a data-ajax="false" href="/" class="ui-btn-left ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-left ui-icon-back ui-btn-icon-notext" title="Вернуться в главное меню"></a>
    <h6>Блюда</h6>
    <a data-ajax="false" href="{% url 'create_dish' %}" class="ui-btn-right ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-left ui-icon-plus ui-btn-icon-notext" title="Добавить новое блюдо в базу"></a>
{% endblock toolbar %}

{% block content %}
    <ul data-role="listview" data-filter="true" data-filter-placeholder="Искать блюдо ..." data-inset="true">
        {% for dish in dishes %}
            <li>
                <a class="js-list-item" href="{% url 'update_dish' pk=dish.id %}" data-ajax="false">
                    <h3 class="js-list-item-title">{{ dish.name }}</h3>
                    <p class="js-list-item-comment">Порций: {{ dish.portions }}, ХЕ в 1 порции: {{ dish.carbohydrates_per_portion }}</p>
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock content %}