{% extends 'dish/base.html' %}
{% load staticfiles %}
{% load assets %}

{% block js %}
    {% assets "dish_update_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock js %}

{% block toolbar %}
    <a data-ajax="false" href="{% url 'index_dish' %}" class="ui-btn-left ui-btn ui-corner-all ui-btn-icon-left ui-icon-back ui-btn-icon-notext" title="Вернуться к списку всех блюд"></a>
    <h6>Редактирование блюда</h6>
    <div class="ui-btn-right">
        <a href="#" class="js-button-add-product ui-btn ui-corner-all ui-icon-plus ui-btn-icon-notext" title="Добавить новый продукт к блюду"></a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a data-ajax="false" href="{% url 'delete_dish' pk=dish.id %}" class="ui-btn ui-corner-all ui-icon-delete ui-btn-icon-notext" title="Удалить это блюдо из базы"></a>
    </div>
{% endblock toolbar %}

{% block content %}
    <form method="POST" data-ajax="false">
        <label for="id_name">Название блюда:</label>
        <input type="text" name="name" id="id_name" value="{{ dish.name }}" maxlength="128">
        {% if form.name.errors %}
            {{ form.name.errors }}
        {% endif %}
        <br/>

        <label for="id_portions">Количество порций:</label>
        <input type="range" name="portions" id="id_portions" value="{{ dish.portions }}" min="1" max="10">
        <br/><br/>

        <label>Продукты:</label>
        <ul id="products-list" data-role="listview" data-inset="true">
        </ul>
        <br/>

        <label>Статистика:</label>
            {% include 'dish/_statistics.html' %}
        <br/><br/>

        <button data-ajax="false" class="ui-btn ui-corner-all green-button" type="submit">Сохранить изменения</button>

        {% include 'dish/_products_menu.html' %}
    </form>
{% endblock content %}

