 {% extends 'base.html' %}

{% block toolbar %}
    <a data-ajax="false" href="{% url 'detail_category' pk=category.id %}" class="ui-btn-left ui-btn ui-btn-inline ui-corner-all ui-btn-icon-left ui-icon-back ui-btn-icon-notext" title="Вернуться к группe '{{ category.name }}'"></a>
    <h6>Удаление группы</h6>
{% endblock toolbar %}

{% block content %}
    <form method="POST">
        <label>Группа "{{ category.name }}" и все ее продукты будут удалены из базы. Все равно удалить?</label>
        <br/>

        <button class="ui-btn ui-corner-all" type="submit">Удалить</button>
    </form>
{% endblock content %}