{% extends 'base.html' %}

{% block toolbar %}
    <a data-ajax="false" href="{% url 'index_category' %}" class="ui-btn-left ui-btn ui-btn-inline ui-corner-all ui-btn-icon-left ui-icon-back ui-btn-icon-notext" title="Вернуться к списку всех групп"></a>
    <h6 class="left-aligned">Группа "{{ category.name }}"</h6>
    <div class="ui-btn-right">
        <a data-ajax="false" href="{% url 'create_product' %}?category_id={{ category.id }}" class="ui-btn ui-corner-all ui-icon-plus ui-btn-icon-notext" title="Добавить продукт в эту группу"></a>&nbsp;&nbsp;&nbsp;
        <a data-ajax="false" href="{% url 'update_category' pk=category.id %}" class="ui-btn ui-corner-all ui-icon-edit ui-btn-icon-notext" title="Редактировать эту группу"></a>&nbsp;
        <a data-ajax="false" href="{% url 'delete_category' pk=category.id %}" class="ui-btn ui-corner-all ui-icon-delete ui-btn-icon-notext" title="Удалить эту группу из базы"></a>
    </div>
{% endblock toolbar %}

{% block content %}
    {% if category.products.all %}
        <ul data-role="listview" data-split-theme="a" data-filter="true" data-filter-placeholder="Искать продукт ..." data-inset="true">
            {% for product in category.products.all %}
                <li>
                    <a class="js-list-item" href="{{ product.get_absolute_url }}" data-ajax="false">
                        <h3 class="js-list-item-title">{{ product.name }}</h3>
                        <p class="js-list-item-comment">1 ХЕ продукта: {{ product.cu_product }} г</p>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <label>Выбранная группа пока не содержит продуктов.</label>
    {% endif %}
{% endblock content %}
