{% extends 'base.html' %}
{% load staticfiles %}

{% block js %}
    <script>
        window.Diabetto = window.Diabetto || {};
        window.Diabetto.currentCategory = "{{ category.id }}";
        window.Diabetto.urlCategoryDetails = "{% url 'detail_category' pk=category.id %}";
        window.Diabetto.urlUpdateCategory = "{% url 'update_category' pk=category.id %}";
        window.Diabetto.urlCreateProduct = "{% url 'create_product' %}";
    </script>

    <script src="{% static 'product/js/create.js' %}"></script>
    <script src="{% static 'category/js/edit.js' %}"></script>
{% endblock js %}

{% block toolbar %}
    <a data-ajax="false" href="{% url 'index_category' %}" class="ui-btn-left ui-btn ui-btn-inline ui-corner-all ui-btn-icon-left ui-icon-back ui-btn-icon-notext" title="Вернуться к списку всех групп"></a>
    <h6>Группа "{{ category.name }}"</h6>
    <div class="ui-btn-right">
        <a href="#popupCreateProduct" data-rel="popup" data-position-to="window" data-transition="pop" class="ui-btn ui-corner-all ui-icon-plus ui-btnui-btn-icon-left ui-btn-icon-notext" title="Добавить продукт в эту категорию"></a>&nbsp;&nbsp;&nbsp;

        <a href="#popupEditCategory" data-rel="popup" data-position-to="window" data-transition="pop" class="ui-btn ui-corner-all ui-icon-edit ui-btn-icon-notext" title="Редактировать эту группу"></a>&nbsp;
        <a href="#popupDeleteCategory" data-rel="popup" data-position-to="window" data-transition="pop" class="ui-btn ui-corner-all ui-icon-delete ui-btn-icon-notext" title="Удалить эту группу из базы"></a>
    </div>
{% endblock toolbar %}

{% block content %}
    {% if category.product_set.all %}
        <ul data-role="listview" data-filter="true" data-filter-placeholder="Искать продукт ..." data-inset="true">
            {% for product in category.product_set.all %}
                <li><a class="js-list-item" href="{{ product.get_absolute_url }}" data-ajax="false">{{ product.name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="js-simple-text">Выбранная группа пока не содержит продуктов</p>
    {% endif %}
{% endblock content %}

{% block hidden_content %}
    <div data-role="popup" id="popupCreateProduct" data-theme="a" class="ui-corner-all">
        <a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
        <form id="formNewProduct">
            <div style="padding:10px 20px;">
                <h3>Добавление продукта</h3>
                <label for="name" class="ui-hidden-accessible">Название продукта</label>
                <input type="text" name="name" id="name" value="" placeholder="название продукта" data-theme="a">

                <label for="carbohydrates" class="ui-hidden-accessible">Углеводы (в 100г)</label>
                <input type="text" name="carbohydrates" id="carbohydrates" value="" placeholder="углеводы (в 100г)" data-theme="a">

                <br/>
                <button type="submit" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-left ui-icon-plus">Добавить</button>

                <div id='formErrors' style="display:none;">
                    <hr/>
                    <p style="color: red;">Форма заполнена неверно или<br/>такой продукт уже создан</p>
                </div>
            </div>
        </form>
    </div>

    <div data-role="popup" id="popupEditCategory" data-theme="a" class="ui-corner-all">
        <a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
        <form id="formEditCategory">
            <div style="padding:10px 20px;">
                <h3>Редактирование группы</h3>
                <label for="name" class="ui-hidden-accessible">Название группы</label>
                <input type="text" name="name" id="name" value="{{ category.name }}" placeholder="название группы" data-theme="a">
                <br/>
                <button type="submit" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-left ui-icon-plus">Изменить</button>

                <div id='formErrors' style="display:none;">
                    <hr/>
                    <h4 style="color: red;">Форма заполнена неверно</h4>
                </div>
            </div>
        </form>
    </div>

    <div data-role="popup" id="popupDeleteCategory" data-overlay-theme="b" data-theme="b" data-dismissible="false" style="max-width:400px;">
        <div data-role="header" data-theme="a">
        <h1>Удаление</h1>
        </div>
        <div role="main" class="ui-content">
            <h3 class="ui-title">Группа и ВСЕ её продукты будут удалены из базы. Продолжить?</h3>
            <a href="#" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-b" data-rel="back">Отмена</a>
            <a data-ajax="false" href="{% url 'delete_category' pk=category.pk %}" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-b" data-transition="flow">Удалить</a>
        </div>
    </div>
{% endblock hidden_content %}