/* products list */
#products-list {
    font-size: 28px;
    line-height: 60px !important;
}
#products-list li {
    text-align: left;
}


/* product element in products list */
.remove-product-button {
    float: right;
    display: inline-block;
    margin-left: 30px;
}
.remove-product-button a {
    width: 40px;
    height: 40px;
}
.product-name {
    width: 200px;
    display: inline-block;
    text-overflow: clip;
}
.product-weight-field {
    float: left;
    display: inline-block;
    width: 100px !important;
    margin: 0;
}
.control-container {
    float: right;
    width: 190px;
}
.ui-listview>.ui-li-static {
    padding: .4em 1em;
}


/* statistics */
.statistics-value {
    font-weight: bold;
}


/* collape widget */
.ui-collapsible-heading-toggle {
    font-size: 26px;
}
.ui-collapsible-content .ui-select a {
    font-size: 26px;
}


/* portions */
.portions-container .ui-input-text {
    display: inline-block;
    width: 100px;
    margin-left: 10px;
    margin-right: 20px;
}