.ui-selectmenu.ui-popup .ui-input-search {
    margin-left: .5em;
    margin-right: .5em;
}
.ui-selectmenu.ui-dialog .ui-content {
    padding-top: 0;
}
.ui-selectmenu.ui-dialog .ui-selectmenu-list {
    margin-top: 0;
}
.ui-selectmenu.ui-popup .ui-selectmenu-list li.ui-first-child .ui-btn {
    border-top-width: 1px;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.ui-selectmenu.ui-dialog .ui-header {
    border-bottom-width: 1px;
}
.products-menu-container .ui-select {
    display: none !important;
}
.ui-selectmenu-list.ui-listview li a {
    font-size: 25px !important;
}
.products-menu-container .ui-selectmenu-list.ui-listview li.ui-first-child a {
    font-size: 0px !important;
}
.ui-selectmenu.ui-popup .ui-input-search {
    margin: .2em;
    margin-bottom: .3em;
}