/* header */
.ui-header {
    height: 86px;
    font-size: 30px;
    padding: 4px;
}
.ui-header .ui-title {
    margin: 0 10%;
}


/* header buttons */
.ui-header .ui-btn,
.ui-header .ui-icon,
.ui-header .ui-btn-inner,
.portions-container .ui-btn {
    width: 70px;
    height: 70px;
}
.ui-header-fixed .ui-btn {
    margin-top: 2px;
}
.ui-header-fixed .ui-btn-left {
    margin-top: 6px;
    margin-left: 8px;
}
.ui-header-fixed .ui-btn-right {
    margin-top: 6px;
    margin-right: 16px;
}
.ui-header .ui-title.left-aligned,
.ui-footer .ui-title.left-aligned {
    margin: 0 15%;
    text-align: left;
    padding-left: 10px;
}
.ui-header .ui-btn-icon-notext:after,
.ui-header .ui-btn-icon-top:after,
.ui-header .ui-btn-icon-bottom:after,
.portions-container .ui-btn-icon-notext:after {
    margin-left: -35px;
}
.ui-header .ui-btn-icon-notext:after,
.ui-header .ui-btn-icon-left:after,
.ui-header .ui-btn-icon-right:after,
.portions-container .ui-btn-icon-notext:after {
    margin-top: -35px;
}
.ui-header .ui-btn-icon-left:after,
.ui-header .ui-btn-icon-right:after,
.ui-header .ui-btn-icon-top:after,
.ui-header .ui-btn-icon-bottom:after,
.ui-header .ui-btn-icon-notext:after,
.portions-container .ui-btn-icon-notext:after {
    height: 70px;
    width: 70px;
}
.ui-header .ui-icon-back:after,
.ui-header .ui-icon-plus:after,
.ui-header .ui-icon-edit:after,
.ui-header .ui-icon-delete:after,
.portions-container .ui-icon-minus:after,
.portions-container .ui-icon-plus:after {
    background-size: 35px 35px;
}


/* the hole content */
.ui-content {
    margin-left: 10px;
    margin-right: 10px;
}


/* confirm buttons (delete, save, update) */
.green-button {
    background: PaleGreen !important;
}
.green-button:active {
    background: LightGreen !important;
}

.red-button {
    background: Salmon !important;
}
.red-button:active {
    background: Tomato !important;
}


/* main menu buttons */
.main-menu-button {
    height: 40px;
    font-size: 28px;
}


/* standard elements */
label {
    font-size: 26px !important;
    height: 40px;
}


/* form elements */
form input {
    height: 40px;
    font-size: 26px !important;
}

form button {
    height: 100px;
    font-size: 26px !important;
}

textarea {
    height: 150px !important;
    font-size: 26px !important;
}

.errorlist li {
    color: red;
}


/* lists */
.js-list-item {
    padding: .2em 1em;
}

.js-list-item-title {
    font-size: 32px !important;
    margin: .20em 0 !important;
}

.js-list-item-comment {
    font-size: 20px !important;
}


/* search widget */
.ui-input-search {
    height: 60px !important;
    line-height: 60px !important;
    font-size: 50px !important;
    margin-top: 8px;
}


/* generic */
.ui-corner-all {
    -webkit-border-radius: .6125em;
    border-radius: .6125em;
}
.ui-btn-inner .ui-icon{
    margin: 0px;
    border-radius: 0;
}
