.js-label {
    font-size: 22px !important;
    height: 40px;
}

.js-label-large {
    font-size: 22px !important;
    height: 40px;
    width: 40% !important;
}


.js-input {
    font-size: 22px !important;
    height: 40px;
}

.js-list-item {
    padding: .2em 1em;
}

.js-list-item-title {
    font-size: 20px !important;
}

.js-simple-text {
    font-size: 22px;
}

.ui-header {
    height: 64px;
    font-size: 24px;
}

.ui-header .ui-btn, .ui-header .ui-icon, .ui-header .ui-btn-inner {
    width: 45px;
    height: 45px;
}

.ui-header .ui-btn-inner .ui-icon{
    margin: 0px;
    border-radius: 0;
}

.ui-header-fixed .ui-btn-left {
    margin-top: 3px;
    margin-left: 9px;
}

.ui-header-fixed .ui-btn-right {
    margin-top: 3px;
    margin-right: 9px;
}

.ui-input-search {
    height: 50px;
    line-height:60px;
    font-size: 22px;
}

.ui-corner-all {
    -webkit-border-radius: .6125em;
    border-radius: .6125em;
}
