{% extends 'base.html' %}
{% load staticfiles %}

{% block toolbar %}
    <a href="{% url 'index_product' %}" class="ui-btn-left ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-left ui-icon-back" title="Вернуться к списку всех продуктов">Все продукты</a>
    <h1>{{ product.name }}</h1>
    <a href="#popupDeleteProduct" data-rel="popup" data-position-to="window" data-transition="pop" class="ui-btn-right ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-left ui-icon-delete" title="Удалить этот продукт из базы">Удалить</a>
{% endblock toolbar %}

{% block content %}
    {{ product.name }}
{% endblock content %}

{% block hidden_content %}
    <div data-role="popup" id="popupDeleteProduct" data-overlay-theme="b" data-theme="b" data-dismissible="false" style="max-width:400px;">
        <div data-role="header" data-theme="a">
        <h1>Удаление</h1>
        </div>
        <div role="main" class="ui-content">
            <h3 class="ui-title">Продукт будет удален из базы. Продолжить?</h3>
            <a href="#" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-b" data-rel="back">Отмена</a>
            <a data-ajax="false" href="{% url 'delete_product' pk=product.pk %}" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-b" data-transition="flow">Удалить</a>
        </div>
    </div>
{% endblock hidden_content %}