{% extends 'base.html' %}

{% block toolbar %}
    <a data-ajax="false" href="{% url 'detail_category' pk=product.category.pk %}" class="ui-btn-left ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-left ui-icon-back ui-btn-icon-notext" title="Вернуться к списку всех продуктов группы"></a>
    <h1>Продукт "{{ product.name }}"</h1>
    <div class="ui-btn-right">
        <a data-ajax="false" href="{% url 'update_product' pk=product.id %}" class="ui-btn ui-corner-all ui-icon-edit ui-btn-icon-notext" title="Редактировать этот продукт"></a>&nbsp;
        <a data-ajax="false" href="{% url 'delete_product' pk=product.pk %}" class="ui-btn ui-corner-all ui-icon-delete ui-btn-icon-notext" title="Удалить этот продукт из базы"></a>
    </div>
{% endblock toolbar %}

{% block content %}
    <ul data-role="listview" data-inset="true">
        <li class="ui-field-contain">
            <label>Название: <span><b>{{ product.name }}</b></span></label>
        </li>

        <li class="ui-field-contain">
            <label>Углеводы: <span><b>{{ product.carbohydrates }} г.</b></span></label>
        </li>

        <li class="ui-field-contain">
            <label>1 ХЕ продукта: <span><b>{{ product.cu_product }} г.</b></span></label>
        </li>

        <li class="ui-field-contain">
            <label>Гликемический индекс: <span><b>{{ product.glycemic_index }}</b></span></label>
        </li>
    </ul>
{% endblock content %}
