{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <title>Diabetto</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/jquery.mobile-1.4.5.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/styles.css' %}?version={{ settings.VERSION }}" />
        {% block css %}{% endblock css %}
    </head>

    <body>
        <div data-role="page">
            <div data-role="header" data-position="fixed">
                {% block toolbar %}
                    <h1>Diabetto</h1>
                {% endblock toolbar %}
            </div>

            <div role="main" class="ui-content">
                {% block content %}{% endblock content %}
            </div>
        </div>
    </body>

    {% block hidden_content %}{% endblock hidden_content %}
    <script src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
    <script src="{% static 'js/jquery.mobile-1.4.5.min.js' %}"></script>
    {% block base_js %}{% endblock base_js %}
    {% block js %}{% endblock js %}
</html>
