{% extends 'base.html' %}
{% load staticfiles %}

{% block js %}
    <script>
        window.Diabetto = window.Diabetto || {};
        window.Diabetto.urlProducts = "{% url 'index_product' %}";
        window.Diabetto.urlCreateProduct = "{% url 'create_product' %}";
    </script>
    <script src="{% static 'js/product.js' %}"></script>

{% endblock js %}

{% block toolbar %}
    <a href="/" class="ui-btn-left ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-left ui-icon-back">Все продукты</a>
    <h1>Diabetto</h1>
    <a href="#popupNewProduct" data-transition="pop" data-rel="popup" data-position-to="window" class="ui-btn-right ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-left ui-icon-plus">Новый продукт</a>
{% endblock toolbar %}

{% block content %}
    <ul data-role="listview" data-filter="true" data-filter-placeholder="Название продукта ..." data-inset="true">
        {% for product in products %}
            <li><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></li>
        {% endfor %}
    </ul>
{% endblock content %}

{% block hidden_content %}
    <div data-role="popup" id="popupNewProduct" data-theme="a" class="ui-corner-all">
        <a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
        <form id="formNewProduct">
            <div style="padding:10px 20px;">
                <h3>Новый продукт</h3>
                <label for="name" class="ui-hidden-accessible">Название продукта</label>
                <input type="text" name="name" id="name" value="" placeholder="название" data-theme="a">
                <br/>
                <button type="submit" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-left ui-icon-plus">Добавить</button>

                <div id='formErrors' style="display:none;">
                    <hr/>
                    <h4 style="color: red;">Форма заполнена неверно</h4>
                </div>
            </div>
        </form>
    </div>
{% endblock hidden_content %}